[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyxel = "*"
mypy = "*"
black = "*"
pylint = "*"
pre-commit = "*"
colorama = "*"
pyinstaller = "*"
typer = {extras = ["all"], version = "*"}
pyre-check = "*"

[dev-packages]

[requires]
python_version = "3.10"
